@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

html {
  --primary-color: rgb(21, 166, 238);
}

.titleCard {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 22px;
  position: relative;
  padding-left: 22px;
}

.titleCard::before {
  position: absolute;
  left: 0px;
  top: calc(50% - 2.5px);
  content: '';
  width: 20px;
  height: 5px;
  background-color: var(--primary-color);
}

.projects {
  width: 100%;
  position: relative;
  margin: 30px;
}

.projects:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background-color: var(--primary-color);
}
