@tailwind base;
@tailwind components;
@tailwind utilities;

.titleCard {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 22px;
  position: relative;
  padding-left: 22px;
}

.titleCard::before {
  position: absolute;
  left: 0px;
  top: calc(50% - 2.5px);
  content: '';
  width: 20px;
  height: 5px;
  background-color: blue;
}

.arrow__down {
  height: 12px;
  width: 50px;
  background-color: black;
  transform: rotate(30deg);
  position: relative;
  border-radius: 12px;
}

.arrow__down:before {
  position: absolute;
  top: -19px;
  left: 30px;
  content: '';
  height: 12px;
  width: 50px;
  background-color: black;
  transform: rotate(115deg);
  border-radius: 12px;
}
